.booking_search_container_all {
    display: flex;
    background-image: url("../img/background_search.jpg");
    height: 200px;
    margin:0px;
}

.booking_search_container {
    width: 50%;
    background-color: #008cff;
    height: 100px;
    margin: auto;
    text-align: center;
    font-size: 24px;
    color: black;
    border-radius: 10px;
    border-radius: 10px;
}

.booking_search_container_not_view {
    display: none;
}
.booking_search_container_element{
    display: flex;
    background-color: #008cff;
    margin: 10px 20px 0 20px;
}

.booking_search_container_element input{
    padding: 3px 0 3px 10px;
}

.booking_search_input{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}

.booking_search_input input{
    display: block;
    border-radius: 5px;
    border:1px solid blue;
}

.booking_search_input button{
    display: block;
    margin:auto;
    padding: 3px;
    height: 33px;
}

.input_element_where{
    width: 100%;
    margin: 0 10px 0 10px;
    height: 25px;
}

.input_element_at {
    margin: 0 0 0 10px;
    height: 25px;
}
#start_date_input {
    height: 27px;
    width: 161px;
}

#end_date_input {
    height: 27px;
    width: 161px;
}

.input_element_to {
    margin: 0 10px 0 0;
    height: 25px;
}

.input_element_who{
    width: 100%;
    margin: 0 10px 0 10px;
    height: 25px;
}

.button_search_hotels{
    width: 100%;
    height: 29px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    border: none;
    background: #0a3868;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.button_search_hotels:hover{
    background-color: #0258ac;
}

.select_city_search {
width: 200px;
    height: 30px;
    border-radius: 5px;
}

.required_input_element {
    outline: none;
    border-color: red;
    box-shadow: 0 0 20px red;
}