.hotel_page_container{
    display: flex;
    width: 80%;
    margin: 40px auto 40px auto;
    flex-direction: column;
}

.hotel_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hotel_information {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

.hotel_image {
    display: flex;
}

.hotel_title_container {
    display: flex;
    justify-content: space-between;
}