.room_table_container {
    margin-top: 40px;
}
.room_table_item_container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0 0.75rem 0.75rem rgb(0 0 0 / 16%);
    border-radius: 10px;
    background: #008cff;
}